<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Pawn Patrol</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="site.css?11" />
    </head>
    <body>
        <div id="app">
            <main class="container">
                <div class="panel">
                    <div class="date-controls">
                        <button
                            v-for="period in periods"
                            @click="fetchStats(period)"
                            :key="period"
                            :class="periodButtonClass(period)"
                        >
                            {{ period.charAt(0).toUpperCase() + period.slice(1) }}
                        </button>
                    </div>

                    <div>Last updated: <span>{{ lastFetch }}</span></div>
                </div>


                <div class="stats" v-for="result in results" :key="result.username">
                    <h2>
                        <a
                            :href="`https://www.chess.com/member/${result.username}`"
                            target="_blank"
                            >{{ result.username }}
                                <span style="font-size: 35px" v-if="Object.entries(result.statsByType).length == 0" class="rocking-span">💩</span>
                                <span style="font-size: 35px" v-if="Object.entries(result.statsByType).length > 0 && totalStats[result.username].won > totalStats[result.username].lost">🍀</span>
                                <span style="font-size: 35px" v-if="Object.entries(result.statsByType).length > 0 && totalStats[result.username].won <= totalStats[result.username].lost">☘️</span>
                                <span style="font-size: 35px" v-if="isTheBest(result.username)">&#x1F451;</span>
                            </a
                        >
                    </h2>


                    <table v-if="Object.entries(result.statsByType).length > 0">
                        <colgroup>
                            <col style="width: 10%" />
                            <col style="width: 10%" />
                            <col style="width: 10%" />
                            <col style="width: 10%" />
                            <col style="width: 10%" />
                            <col style="width: 10%" />
                            <col style="width: 10%" />
                            <col style="width: 10%" />
                            <col style="width: 10%" />
                            <col style="width: 10%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Games</th>
                                <th colspan="2">Won</th>
                                <th colspan="2">Lost</th>
                                <th colspan="2">Draw</th>
                                <th>Time</th>
                                <th>Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="(details, type) in result.statsByType"
                                :key="type"
                                @click="openModal(details.games)"
                            >
                                <td>
                                    <img
                                        :src="`icons/${type.toLowerCase()}.svg`"
                                        :alt="type"
                                    />
                                </td>
                                <td>{{ details.played }}</td>
                                <td class="score">{{ details.won }}</td>
                                <td class="percentage">
                                    {{ percentage(details.won, details.played)}}%
                                </td>
                                <td class="score">{{ details.lost }}</td>
                                <td class="percentage">
                                    {{ percentage(details.lost, details.played)}}%
                                </td>
                                <td class="score">{{ details.draw }}</td>
                                <td class="percentage">
                                    {{ percentage(details.draw, details.played)}}%
                                </td>
                                <td class="time">{{ formatDuration(details.duration) }}</td>
                                <td><span class="rating-before">{{ details.ratingBefore }}</span><br><span :class="ratingClass(details)">{{ details.rating }}</span></td>
                            </tr>
                            <tr class="totals" v-if="totalStats[result.username].played > 0">
                                <td><strong>Total</strong></td>
                                <td>
                                    <strong
                                        >{{
                                        totalStats[result.username].played}}</strong
                                    >
                                </td>
                                <td class="score">
                                    <strong
                                        >{{
                                        totalStats[result.username].won}}</strong
                                    >
                                </td>
                                <td class="percentage">
                                    {{percentage(totalStats[result.username].won,totalStats[result.username].played)
                                    }}%
                                </td>
                                <td class="score">
                                    <strong
                                        >{{
                                        totalStats[result.username].lost}}</strong
                                    >
                                </td>
                                <td class="percentage">
                                    {{percentage(totalStats[result.username].lost,totalStats[result.username].played)
                                    }}%
                                </td>
                                <td class="score">
                                    <strong
                                        >{{
                                        totalStats[result.username].draw}}</strong
                                    >
                                </td>
                                <td class="percentage">
                                    {{percentage(totalStats[result.username].draw,totalStats[result.username].played)
                                    }}%
                                </td>
                                <td class="time">
                                    <strong>
                                        {{formatDuration(totalStats[result.username].duration)}}
                                    </strong>
                                </td>
                                <td></td>
                                <!-- Rating is not totalled; you may calculate an average or similar if appropriate -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-if="showModal" class="modal">
                    <div class="modal-content">
                        <span class="close" @click="closeModal">&times;</span>
                        <h2>
                            Games
                            <span class="checkbox desktop">
                                <input type="checkbox" id="showOpenings" v-model="showOpenings" />
                                <label for="showOpenings">Openings</label>
                            </span>
                            <span class="checkbox desktop">
                                <input type="checkbox" id="showTime" v-model="showTime" />
                                <label for="showTime">Time</label>
                            </span>
                        </h2>
                        <table>
                            <tr
                                v-for="game in currentGames"
                                :key="game.id"
                                @click="openGame(game.url)"
                            >
                                <td v-if="showTime">
                                    <!-- game.endTime to time hh:mm -->
                                    {{ game.endTime.toLocaleTimeString([],{ hour12: false, hour: "2-digit", minute: "2-digit" }) }}
                                <td>
                                    <span
                                        class="chess-icon"
                                        :class="iconClassByResult(game)"
                                        :title="game.resultSubType"
                                    ></span>
                                </td>
                                <td class="modal__player-white">
                                    <span :class="nonameClass(game.white.username)">{{ game.white.username }}</span>
                                    <span
                                        v-if="game.accuracies"
                                        :class="colorClass(game.accuracies.white)"
                                    >
                                        [{{ game.accuracies.white }}%]
                                    </span>
                                </td>
                                <td class="modal__move-count">-{{ game.moveCount }}-</td>
                                <td class="modal__player-black">
                                    <span
                                        v-if="game.accuracies"
                                        :class="colorClass(game.accuracies.black)"
                                    >
                                        [{{ game.accuracies.black }}%]
                                    </span>
                                    <span :class="nonameClass(game.black.username)">{{ game.black.username }}</span>
                                </td>
                                <td class="desktop" v-if="showOpenings">
                                    <!-- game.opening is in format { "name" => "url" } -->
                                    <a :href="game.opening.url" target="_blank">
                                        {{ game.opening.name }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </main>
        </div>
        <script src="chessStats.js?6"></script>
    </body>
</html>
