<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Chess Stats Viewer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="site.css" />
    </head>
    <body>
        <div id="app">
            <h1>Chess Stats Viewer</h1>
            <button
                v-for="period in periods"
                @click="fetchStats(period)"
                :key="period"
            >
                {{ period.charAt(0).toUpperCase() + period.slice(1) }}
            </button>
            <div>Last updated: <span>{{ lastFetch }}</span></div>
            <div class="stats" v-for="result in results" :key="result.username">
                <h2>
                    <a
                        :href="`https://www.chess.com/member/${result.username}`"
                        target="_blank"
                        >{{ result.username }}</a
                    >
                </h2>
                <table>
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Played</th>
                            <th>Won</th>
                            <th>Lost</th>
                            <th>Draw</th>
                            <th>Duration</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(details, type) in result.statsByType"
                            :key="type"
                        >
                            <td>
                                <img
                                    :src="`icons/${type.toLowerCase()}.svg`"
                                    :alt="type"
                                />
                            </td>
                            <td>{{ details.played }}</td>
                            <td>{{ details.won }}</td>
                            <td>{{ details.lost }}</td>
                            <td>{{ details.draw }}</td>
                            <td>{{ formatDuration(details.duration) }}</td>
                            <td>{{ details.rating }}</td>
                        </tr>
                        <tr v-if="totalStats[result.username].played > 0">
                            <td><strong>Total</strong></td>
                            <td>
                                <strong
                                    >{{ totalStats[result.username].played
                                    }}</strong
                                >
                            </td>
                            <td>
                                <strong
                                    >{{ totalStats[result.username].won
                                    }}</strong
                                >
                            </td>
                            <td>
                                <strong
                                    >{{ totalStats[result.username].lost
                                    }}</strong
                                >
                            </td>
                            <td>
                                <strong
                                    >{{ totalStats[result.username].draw
                                    }}</strong
                                >
                            </td>
                            <td>
                                <strong>
                                    {{
                                    formatDuration(totalStats[result.username].duration)
                                    }}
                                </strong>
                            </td>
                            <td></td>
                            <!-- Rating is not totalled; you may calculate an average or similar if appropriate -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-if="showModal" class="modal">
                <div class="modal-content">
                    <span class="close" @click="closeModal">&times;</span>
                    <h2>Games</h2>
                    <p v-html="gamesList"></p>
                </div>
            </div>
        </div>

        <script src="chessStats.js"></script>
    </body>
</html>
